* Pure python implementation of decision trees

In [103]:
import pandas as pd
import numpy as np
import random
import math

In [191]:
SAMPLE_DATA = pd.DataFrame({'x1':[np.random.uniform(1,100) for _ in range(100)],
                            'x2':[np.random.uniform(-100,200) for _ in range(100)],
                            'x3':[np.random.randint(0,10) for _ in range(100)],
                           'y':[np.random.randint(0,2) for _ in range(100)]})

SAMPLE_DATA = pd.get_dummies(SAMPLE_DATA, columns=['x3'],dtype='int')

In [ ]:
# 1. Select a feature
# 2. Select feature value randomly from range
# 3. Calculate entropy (purity of sample)
#    a. Proportion of +(ve) examples -> p =  count(feature) groupby target filter target == 1 / sum(feature)
#    b. Proportion of -(ve) examples -> n =  1 - p
#    c. entropy = -plog2(p) - nlog2(n)
# 4. Split feature according to entropy and do 3. for each split (binary tree)

In [192]:
SAMPLE_DATA

,x1,x2,y,x3_0,x3_1,x3_2,x3_3,x3_4,x3_5,x3_6,x3_7,x3_8,x3_9
0,14.772618,32.471615,1,0,0,0,0,0,0,1,0,0,0
1,26.856644,194.968478,0,0,1,0,0,0,0,0,0,0,0
2,23.486462,47.030824,0,0,0,0,0,1,0,0,0,0,0
3,44.237449,14.277624,0,0,0,0,1,0,0,0,0,0,0
4,24.663095,-69.806737,1,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,22.380008,9.219721,1,0,1,0,0,0,0,0,0,0,0
96,71.403921,194.334128,0,0,0,0,0,0,0,0,0,1,0
97,64.040674,94.078749,0,0,0,0,0,0,0,1,0,0,0
98,46.527955,-55.302077,1,0,0,0,0,0,0,1,0,0,0
99,18.795143,-60.675240,0,0,0,0,0,0,0,0,0,0,1

In [200]:
def decision(feature: np.ndarray, target: np.ndarray) -> float:
    
    node_entropy = calcuate_entropy(feature,target)
    random_split = np.random.choice(feature_vector)




    
feature = SAMPLE_DATA.x1.values
target = SAMPLE_DATA.y.values

In [182]:
def calculate_entropy(feature,target):

    p = len(feature[target == True])/ len(feature)
    entropy = -(p*math.log2(p) - (1-p)*math.log2(1-p)) 
    
    return entropy

(array([57.89346911, 74.71409262, 70.90136888, 60.46120449, 64.87482877,
        64.02987659, 69.52535764, 64.978505  , 92.35596184, 72.36323194,
        90.71569955, 71.82899295, 70.1991902 , 51.42597211, 84.14383222,
        67.36367773, 99.1548311 , 50.06309287, 57.0812013 , 70.6051896 ,
        67.5475418 , 79.36209489, 91.00629356, 63.94374678, 79.87949726,
        53.35336762, 91.5333441 , 77.51213512, 59.20195553, 92.25214696,
        85.21400905, 77.52885667, 60.45882194, 95.40630038, 84.99727472,
        81.16440343, 86.65061265, 89.67148776, 72.25874589, 88.92326724,
        79.25567243, 93.71201917, 95.89738005, 83.65695857, 84.45376055,
        81.63260495, 77.49199946, 56.72498752, 68.99032705, 68.17924565,
        88.25791646, 72.08213877]),
 array([0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
        0, 0, 0, 0, 1, 0, 1, 0]))

In [198]:
print(calculate_entropy())

0.38

In [1]:
class Node():
    
    def __init__(parent = None, left_child = None, right_child = None):
        self.parent = None
        self.left_child = left_child
        self.right_child = right_child
        
class Tree()

    def __init__(depth=0, root = None):
        self.depth = 0
        self.root = None
        
    def grow_tree